# instance definition
#
# toml format: https://github.com/toml-lang/toml
#
# [[instance]] Field Descriptions
# ===============================
#
# ID:
#  The dtrain identifier.
#  Must have a text string variable with the same name in scripts/<os-file.py>
#  that contains the AWS boot script.
#
# Name:
#  'Name Tag' assigned in AWS.
#
# OS:
#  Identifier for the AMI image.
#  Must have a text string variable with the same name in scripts/<os-file.py>
#  that contains the dictionary key value for the AMI.
#
# ZONE:
#  Available availability zones depend on the region.
#  AWS uses letters: a, b, c, etc...
#  For dtrain, use numbers (without quotes): 1, 2, 3, etc... which will be assigned: a=1, b=2, etc...
#  If a zone is not available in the region, it will automatically be re-assigned to the first available zone.
#
# INSTANCE_TYPE:
#  AWS instance type/size to launch
#
# SECURITY_GROUPS:
#  Python list of AWS security groups to add to this instance.
#  dtrain only creates a 'default' group but other security groups can be created/added if needed.
#
# ELASTIC_IP:
#  Assign an AWS elastic ip on boot: true or false


# [[instance.device]] Field Descriptions
# ======================================
#
# DEVICE
#  AWS device name/path: /dev/sda1, /dev/sdb, /dev/sdc, etc...
#
# FILESYSTEM
#  Filesytem for device: ext2, ext3, xfs, etc...
#  If additional packages need to be installed for mkfs you must install them in the boot script.
#  Ex. On Ubuntu to format xfs, you must apt-get install -y xfsprogs
#
# MOUNT
#  Mount point for the device
#
# SIZE
#  Size (GB) for the device
#
# DELETE_ON_TERMINATE
#  Delete the device/volumne when the instance is terminated. true/false
#
# Prompting For User Input
# ========================
#
# PROMPT
#  If any value is "PROMPT:<prompt-string>" it will prompt the user for a value at runtime.
#
# PROMPT#
# If any value is "PROMPT#:<prompt-string>" it will prompt the user for a value at runtime and
# the value will be converted to a number before rendering.
#
# Note: Delimiter is a colon (:) so don't use one in your prompt string.

# ... instances ...
# ~~~~~~~~~~~~~~~~~

[[instance]]
  ID = "PRIMARY"
  NAME = "node-0"
  OS = "PRIMARY_OS"
  ZONE = 1
  INSTANCE_TYPE = "m3.medium"
  SECURITY_GROUPS = ["default"]
  ELASTIC_IP = false

    [[instance.device]]
    DEVICE = "/dev/sda1"
    FILESYSTEM = "ext4"
    MOUNT = "/"
    SIZE = 10
    DELETE_ON_TERMINATE = true

[[instance]]
  ID = "PRIMARY"
  NAME = "node-1"
  OS = "PRIMARY_OS"
  ZONE = 1
  INSTANCE_TYPE = "m3.medium"
  SECURITY_GROUPS = ["default"]
  ELASTIC_IP = false

    [[instance.device]]
    DEVICE = "/dev/sda1"
    FILESYSTEM = "ext4"
    MOUNT = "/"
    SIZE = 10
    DELETE_ON_TERMINATE = true

[[instance]]
  ID = "PRIMARY"
  NAME = "node-2"
  OS = "PRIMARY_OS"
  ZONE = 1
  INSTANCE_TYPE = "m3.medium"
  SECURITY_GROUPS = ["default"]
  ELASTIC_IP = false

    [[instance.device]]
    DEVICE = "/dev/sda1"
    FILESYSTEM = "ext4"
    MOUNT = "/"
    SIZE = 10
    DELETE_ON_TERMINATE = true
